<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">
        <link href="https://fonts.googleapis.com/css?family=Molle:400i|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title></title>
    </head>
    <body class="pies">
        <div class="shadow">
            <div class="home">
                <a href="/"><img src="../images/icons/house.png"></a>
                <a href="/users"><img src="../images/icons/user.png"></a>
                <a href="/users/new"><img src="../images/icons/user.png"></a><b>++</b>
                <a href="/cakes"><img src="../images/icons/cake.png"></a>
                <a href="/pies"><img src="../images/icons/pie.png"></a>
            </div>
                <h1>Create a New Pie</h1>
                <form action="/pies/" method="post">
                    <div class="forms">
                        <select name="userId" >
                            <%# for(var i = 0; i < users.length; i++){ %>
                                <option value="<%# users[i]._id %>"><%# users[i].name %></option>
                            <% } %>
                        </select><br>
                        <input type="text" name="name" placeholder="Pie Name"><br>
                        <input type="text" name="img" placeholder="Image URL"><br>
                        <input type="text" name="cite" placeholder="Cite your source"><br>
                        <input type="text" name="origin" placeholder="Origin"><br>
                        <textarea name="description" placeholder="Pie description"></textarea><br>
                        <input type="submit" value="SUBMIT">
                    </div>
                </form>
            <footer>
            </footer>
        </div>
    </body>
</html> -->
