<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Karla:700|Nunito+Sans" rel="stylesheet">
        <title></title>
    </head>
    <body id="mainPage">
        <div id="logo"><h1>BAKED</h1></div>

        <div id="homeNavBar">

            <div id="one">
                <!-- USER'S PAGE -->
                <a href="/users">
                    <img src="../images/icons/user.png">
                </a>
                <h3>USERS</h3>
            </div>

            <div id="two">
                <!-- CAKE INDEX -->
                <a href="/cakes">
                    <img src="../images/icons/cake.png">
                </a>
                <h3>CAKES</h3>
            </div>
        </div>
            <!-- <div id="three">
                PIE INDEX
                <a href="/pies">
                    <img src="../images/icons/pie.png">
                </a>
                <h3>PIES</h3>
            </div> -->

            <!-- <div id="four">
                BREAD INDEX
                <a href="#">
                    <img src="../images/icons/bread.png">
                </a>
            </div> -->

    </body>
</html>
