<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title></title>
    </head>
    <body id="mainPage">
        <div id="logo">BAKED</div>
        <div id="homeNavBar">
            <div id="one">
                <a href="/users">
                    <img src="../images/user.png">
                    <!-- USER'S PAGE -->
                </a>
            </div>
            <div id="two">
                <a href="/cakes">
                    <img src="../images/cake.png">
                    <!-- CAKE INDEX -->
                </a>
            </div>
            <!-- <div>
                <a href="#">
                    <img src="../images/pie.png">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="../images/bread.png">
                </a>
            </div> -->
        </div>
    </body>
</html>
