body{
    text-align: center;
    margin: 2em;
    background-image: url("http://www.publicdomainpictures.net/pictures/40000/velka/macro-table-sugar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


a{
    text-decoration: none;
}
