*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin: 2em;
    color: #000000;
    z-index: 1;
}
.brownie{
    background-image: url('./images/photos/brownies.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.truffles{
    background-image: url('./images/photos/truffles.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.pies{
    background-image: url('./images/photos/pies2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*****************HOME PAGE***************/
#mainPage{
    background-image: url("./images/photos/mainPic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    overflow: auto;
    position: relative;
    z-index: 1;
}

#logo{
    font-family: 'Roboto', sans-serif;
    border: 1em solid black;
    padding: 1em;
    background-color: rgba(249, 250, 252,0.5);
    height: 20%;
    font-size: 5em;
    text-align: center;
    letter-spacing: .5em;
    margin: 1em;
}

#homeNavBar{
    display: inline-block;
    z-index: 2;
    height: 45%;
    position: absolute;
    top: 6em;
    left: -1.5em;
    text-align: center;
    margin-left: 1.5em:
    border: 1px solid rgba(249, 250, 252,0.5);
    background-color: rgba(249, 250, 252,0.5);

}

#homeNavBar img{
    width: 4em;
}

#one img:hover{
    width: 4.5em;
}

#two img:hover{
    width: 4.5em;
}

#three img:hover{
    width: 4.5em;
}

#four img:hover{
    width: 4.5em;
}
/*************end of home page***************/
/*all pages other than home*/
.shadow{
    border: .1em;
    margin: 5em;
    background-color: #FFFFFF;
    -webkit-box-shadow: 10px 12px 143px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 143px 12px rgba(0,0,0,0.75);
    box-shadow: 10px 12px 143px 12px rgba(0,0,0,0.75);
    z-index: 2;
    height:70%;
}
/*nav bar on each page*/
.home{
    margin-left: 1em;
    display:block;
    float:left;
    padding: 1em;
}
/*nav icons*/
.home img{
    width: 2em;
}
/*nav icons on hover*/
.home img:hover{
    width: 2.5em;
}

h1{
    font-size: 5em;
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: 2.5em;
}

h2 {
    width: 50%;
    margin: auto;
    /*padding-top: 2em;
    padding-bottom: 2em;*/
}

h3{
    /*margin-top: 1em;*/
    /*padding: 1em;*/
}
/*individual cakes on index page*/
.cakes{
    display: inline-block;
    margin: 1em;
    border: 1em solid white;

}
.cakes img{
    width: 12em;
    height: 12em;
    margin: -2em;
    z-index: 2;
    background-size: cover;
    border-radius: 2em;
}
.contain{
    width: 80%;
    height: 80%;
    display: inline-block;
    padding: 1em;
}
.cakesShow img{
    width: 50%;
    height: auto;
    padding: 1em;
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 1em;
    clear: both;
}
.usersShow{
    width: 60%;
    margin: 2em;
    display: inline-block;

}
.usersShow img{
    border-radius: 2em;
    width: 20em;
}
.info{
    display: inline-block;
    width: 30%;
    float: right;
    margin-right: 5em;
}
/*edit & delete blocks*/
.base{
    display: block;
    clear: both;
    margin-top: 2em;

}
/*.fit{
    width: 30em;
}*/
.small{
    width: 20%;
    border-radius: 1em;
}
.forms{
    padding: 5em;
}

hr{
    width: 80%;
    margin: 2em auto;
}

input, textarea, button{
    width: 50%;
    text-align: center;
    padding: 1em;
}

footer{
    height: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

}
