<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">
        <title></title>
    </head>
    <body>
        EDIT PAGE
        <nav>
            <ul>
                <li><a href="/">HOME PAGE</a></li>
            </ul>
        </nav>
    </body>
</html>
