<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">
        <title></title>
    </head>
    <body>
        <header>
            <h1>Welcome to Baked Cakes Index</h1>
        </header>
        <nav>

                <button><a href="/">HOME PAGE</a></button>
                <button><a href="/users">USER'S INDEX PAGE</a></button>

        </nav>
            <a href="/cakes/new">Add a new cake</a><br>
            <a href="/cakes/show">Images of cakes</a>

        <div class="cakes">
            
        </div>
    </body>
</html>
