<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <h1>Welcome to Baked Cake Home Page</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">HOME PAGE</a></li>
                <li><a href="/users">USER'S INDEX PAGE</a></li>
            </ul>
        </nav>

    </body>
</html>
