<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <link href="https://fonts.googleapis.com/css?family=Molle:400i|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title></title>
    </head>

    <body class="truffles">
        <div class="shadow">
            <div class="home">
                <a href="/"><img src="../images/icons/house.png"></a>
                <a href="/users"><img src="../images/icons/user.png"></a>
                <a href="/users/new"><img src="../images/icons/user.png"></a><b>++</b>
                <a href="/cakes/new"><img src="../images/icons/cake.png"></a><b>++</b>
                <!-- <a href="/pies"><img src="../images/icons/pie.png"></a>
                <a href="/pies/new"><img src="../images/icons/pie.png"></a><b>++</b> -->
            </div>
            <h1>Baked Cakes Index</h1>
            <hr>
            <a href="https://en.wikipedia.org/wiki/List_of_cakes">Here's a link to find some of your favorite cakes to add </a>
                <div class="contain">
                    <% for (var i = 0; i < allCakes.length; i++){ %>
                        <a href="/cakes/<%= allCakes[i]._id%>">
                            <div class="cakes">
                                <h4><%= allCakes[i].name %></h4><br>
                                <img src="<%= allCakes[i].img %>"/><br>
                            </div>
                        </a>
                    <% } %>
                </div>
        </div>
        <footer></footer>
    </body>
</html>
