<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">
        <link href="https://fonts.googleapis.com/css?family=Molle:400i|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title></title>
    </head>
    <body>
        <div class="shadow">
            <header>
                <h1>Create a New Cake</h1>
            </header>
                <form action="/cakes/" method="post">
                    <div class="forms">
                    <input type="text" name="name" placeholder="Cake Name"><br>
                    <input type="text" name="img" placeholder="Image URL"><br>
                    <input type="text" name="cite" placeholder="Cite your source"><br>
                    <textarea name="name" name="description" placeholder="Cake description"></textarea><br>
                    <!-- <input type="text" name="fillings" placeholder="Filling"><br>
                    <input type="text" name="frosting" placeholder="Frosting"><br>
                    <input type="text" name="cakeType" placeholder="Type of Cake Crumb"><br>
                    <input type="text" name="finish" placeholder="Finish"><br>
                    <input type="text" name="events" placeholder="Event types for this cake"><br>  -->
                    <input type="submit" value="SUBMIT">
                    </div>
                </form>
            <nav>
                <a href="/">Home</a>
                <a href="/cakes">Cakes Index</a>
            </nav>
        </div>
    </body>
</html>
