<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">
        <title></title>
    </head>
    <body>

        <header>
            <h1>CAKES INDEX PAGE</h1>
        </header>

        <nav>
            <a href="/">HOME PAGE</a>
            <a href="/new">Add a new cake</a>
        </nav>
        <div class="cakes">

        </div>
    </body>
</html>
