<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <link href="https://fonts.googleapis.com/css?family=Molle:400i|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title></title>
    </head>

    <body>
        <div class="shadow">
            <header>
                <div class="w3-card-2 w3-slim topnav" id="topnav" style="position:relative; top:0px;">
                    <div class="overflow:auto;">
                        <ul class="w3-navbar w3-left" style="width:55%;overflow:hidden;height:44px">
                            <div class="float">
                                    <a href="/">Home Page</a>
                                    <a href="/cakes">Cake's Index page</a>
                                    <a href="/cakes/new">Create a New Cake</a>
                                    <a href="/users">User's Index Page</a>
                                    <a href="/users/new">Create a New User</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </header>
                <h1>Welcome to Baked User's Index Page</h1>
                <section>
                    <small class="text-muted"><h3>Current Users:</h3></small>
                    <% for (var i = 0; i < allUsers.length; i++){ %>
                        <a href="/users/<%= allUsers[i]._id %>"><%= allUsers[i].name %></a><br>
                    <% } %>
                </section>
            <footer></footer>
        </div>
    </body>
</html>
