<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <h1>Welcome to baked</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">HOME PAGE</a></li>
                <li><a href="/cakes">CAKE'S INDEX PAGE</a></li>
            </ul>
        </nav>
        <main>
            <h2>This is the Sweet Spot where you can find images of anything baked</h2>
        </main>
        <button>Log In</button>
    </body>
</html>
