<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">
        <title></title>
    </head>


    <body>

        <header>
            <h1>Welcome to Baked User's Index Page</h1>
        </header>

        <nav>
            <button><a href="/">HOME</a></button>
            <button><a href="/cakes">CAKE INDEX</a></button>
        </nav>

        <main>
            <!-- <button><a href="/users/new">Log In</a></button><br> -->
            <button><a href="/users/new">Add a new user</a></button>
        </main>

    </body>
</html>
