<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">
        <title></title>
    </head>
    <body>

        <header>
            <h1>Add a New User</h1>
        </header>

        <nav>
            <a href="/">HOME</a><br>
            <a href="/users">User's Index Page</a>
        </nav>

        <form  action="" method="post">
            <input type="text" name="name" placeholder="Name">
            <!-- <input type="text" name="cakes" value="Cakes"> -->
            <input type="submit" value="SUBMIT">
        </form>

    </body>
</html>
